
.initial img{
    width: 100%;
    max-width: 45px;
}
.banner {
    background-repeat: no-repeat; 
    margin: 0 auto;
    height: 26.2vw;
    width: 63.5vw;
    background-position: center;
    background-size: contain;
}
.banner-promocao {
    background-image: url(/assets/img-icons/img/Flash\ Sale\ -\ Banner1.png) ; 
}
.banner-mouse {
    background-image: url(/assets/img-icons/img/Banner\ para\ loja\ virtual\ ecommerce\ periféricos\ dropshiping.png); 
}
.banner-cadeira {
   background-image: url(/assets/img-icons/img/Banner\ para\ loja\ virtual\ ecommerce\ periféricos\ dropshipinga.png); 
}
.banner-kit {
   background-image: url(/assets/img-icons/img/Banner\ para\ loja\ virtual\ ecommerce\ periféricos\ dropshipinga\ \(1\).png); 
}

.initial-pai {
  height: 100%;
  max-height: 93%;
  width: 65vw;
  align-items: center;  
  justify-content: space-between;
  margin: 0.9vw 0 0 0;
  display: flex;
}
.initial {
    justify-content: space-between;
    width: 100%;
    max-width: 63.5vw;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.initial h1 {
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    margin-right: 2vw;
}

#carrinho {
    margin-left: 2vw;
}

#carrinho a {
    text-decoration: none;
    align-items: center;
    display: flex;
    background-color: #151515;
    width: 7.18vw;
    height: 2.28vw;
    border-radius: 40px;
    text-align: center;
}
#carrinho p {
    padding-left: 0.55vw;
    text-transform: uppercase;
    font-size: 0.63vw;
    color: white;
    font-family: 'Noto Sans';
    font-weight: 200px;
}
#carrinho img {
    border-left: 1px solid #fff;
    margin-left: 0.48vw;
    padding-left: 0.55vw;
    width: 100%;
    max-width: 2.23vw;
}



.conteudo-banner h1 {
    font-family: 'Montserrat', sans-serif;
    color: #5271FF;
    text-shadow: -1.4px 1.4px 0 red,
    0.9px -0.9px 0 #00ffff;
    font-size: 4.2vw; 
}
.conteudo-banner a {
    font-family: 'Poppins', sans-serif;
    font-size: 0.99vw;
    text-decoration: none;
    color: #5271FF;
    text-shadow: -0.5px 0.5px 0 red,
    0.5px -0.5px 0 #00ffff; 
    padding: 11px 40px;
    background-color: white;
    border-radius: 35px;
}
.conteudo-banner {
    width: 530px;
    height: 11.5vw;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.posicionamento-banner {
    justify-content: flex-start;
    height: 90%;
}




.sect {
    display: flex;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.sections {
    background: rgba(204, 204, 204, .5);
    height: 135px;
    align-items: center;
    padding: 10px;
    width: 75vw;
    margin: 0 auto;
}
.conteudo-sections {
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.sections a {
    text-align: center;
    text-decoration: none;
    color: black;
    align-items: center;
}
.sections p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 1.04vw;
    font-size: 15px;
    align-items: center;
}
.conteudo-sections img {
    width: 100%;
    max-width: 70px;
    border-radius: 50%;
}


.aviso-promocao {
    text-transform: uppercase;
    text-align: center;
    margin: 1.5vw;
}
.aviso-promocao h1 {
    font-family: 'Montserrat', sans-serif;
}
.aviso-promocao p {
    font-family: 'Montserrat', sans-serif;
    margin: 1.2vw;
    font-size: 10px;
    text-decoration: none;
    color: #212529;
}



.card img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
}
.nome-produto {
    font-family: 'Orbitron', sans-serif;
    font-size: 11.8px;
    margin: 4px;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.card button {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 13px;
    letter-spacing: -0.04em;
    background-color: #151515;
    color: #ffffff;
    border: none;
    border-radius: 0 0 5px 5px;
    letter-spacing: 0.025em;
    font-stretch: condensed;
}
.card-produtos h4 {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
    font-weight: bolder;
    font-family: 'Noto Sans HK', sans-serif;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card-2 {
    background-color: #252525;
    padding: 7px;
  }
.card {  
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding-left: 0%;
    padding-right: 0%;
    margin: 30px;
    width: 195px;
    height: 260px;
    transition: all 0.3s ease-out;
    background-color: #252525;
    border-radius: 0%;
    border-radius: 0 0 4px 4px;
  }
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
.card-produtos {
    display: flex;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.5);
    margin: 2.3vw 0 2.3vw 0;
}
.produtos {
    width: 64vw;
    margin: 0 auto;
}






  
#idslide-carrosel::-webkit-scrollbar {
    background: transparent; 
    display: none;
}
.slide-carrosel {
    display: none !important;
}
#idslide-carrosel {
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;  
    -webkit-overflow-scrolling:touch;    
}
.circulo {
    scroll-snap-align:center;
    margin:0 1.8vw;
}
.circulo>.circulo a{
    margin:0 10px;
    scroll-snap-align: start;
    
}
.slide-carrosel img{
    width: 100%;
    max-width: 5vw;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.slide-carrosel div {
    font-weight: 900;
    text-align: center;
    color:#928F8F;
    justify-content: space-between;
}
.slide-carrosel {
    position: relative;
    display: flex;
    margin-top: 1.3vw;
    margin-bottom: 2.3vw;
    justify-content: space-between; 
}
.pesquisa-produtos2 {
    display: none !important;
}



@media screen and (min-width: 2000px) {
    .container-grid {
        margin: 0 auto;
    }
    .contatos-redes-sociais p {
        font-size: 19px;
    }
    .banner {
        margin: 0 auto;
        width: 63.5vw;
        height: 26vw;
    }

    .conteudo-banner {
        width: 27vw;
    }
    .initial {
        justify-content: space-between;
        width: 63vw;
    }
    .initial-pai {
        margin: 0.65vw 0 0.37vw 0;
        align-items: center;
        justify-content: space-around;
    }
    .initial h1 {
        font-size: 23px;
        margin-right: 1.5vw;
    } 

    #carrinho {
        margin-left: 1.9vw;
    }
    #carrinho a {
        width: 150px;
        height: 50px;
    }
    #carrinho p {
        padding-left: 14px;
        font-size: 14.5px;
    }
    #carrinho img {
        border-left: 1px solid #fff;
        margin-left: 10px;
        padding-left: 10px;
        width: 100%;
        max-width: 42px;
    }

    .sections {
        margin: 0 auto;
        width: 63.5vw;
    }
    .conteudo-sections p {
        font-size: 17.5px;
    }
    .aviso-promocao h1 {
        font-size: 19px;
    }
    .aviso-promocao p {
        font-size: 13.2px;
    }
    .produtos {
        width: 63.5vw;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1570px) {
    .nome-produto {
        font-family: 'Orbitron', sans-serif;
        font-size: 10.15px;
        margin: 4px;
        padding: 5px;
    }
    .card button {
        font-size: 11.8px;
    }
    .card-2 {
        background-color: #252525;
        padding: 7px;
      }
    .card {  
        margin: 30px;
        width: 173px;
        height: 237px;
      }
}
@media screen and (max-width: 1300px) {
    .conteudo-sections img {
        width: 4.58vw;
    }
    .conteudo-banner {
        width: 32vw;
        height: 12vw;
    }
    .conteudo-banner h1{
        font-size: 3.9vw;
    }
    .conteudo-banner a {
        padding: 0.8vw 1.97vw;
    }
    .initial h1 {
        margin-right: 6vw;
        font-size: 1.25vw;
    }
    .banner {
        margin: 0 auto;
        padding: 0%;
        width: 63vw;
    }
    .conteudo-sections p {
        font-size: 13.4px;
    }  

    .nome-produto {
        font-size: 8px;
    }
    .card button {
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 100%;
        font-size: 8.5px;
    }
    .card {  
        margin: 20px;
        width: 147px;
        height: 198.5px;
    }
}
@media screen and (max-width: 1150px) {
    .slide-carrosel {
        display: flex !important;
        max-width: 64vw;
        width: 100%;
        align-items: center;
    }
    .sections {
        background: rgba(204, 204, 204, .5);
        height: 12vw;
        align-items: center;
        padding: 10px;
        width: 75vw;
    }
    #sect {
        display: none;
    }
    .conteudo-sections img {
        width: 5.11vw;
    }
    .conteudo-sections p {
        font-size: 1.42vw;
    }
}
@media screen and (max-width: 1020px) {
    .banner {
        width: 64vw;
    }
    .initial h1 {
        font-size: 1.45vw;
    } 
    .aviso-promocao h1{
        font-size: 1.39vw;
    }
    .aviso-promocao p {
        font-size: 0.85vw;
    }
    .conteudo-banner h1{
        font-size: 4.27vw;
    }
    .conteudo-banner {
        height: 12.8vw;
        width: 34.8vw;
    }
    .conteudo-banner a {
        font-size: 1.2vw;
        margin: 0 auto;
        padding: 0.65vw 2.18vw;
    } 
}
@media screen and (max-width: 850px) {
    .banner {
        width: 100%;
        max-width: 63.5vw !important;
    }
    .container-grid {
        width: 68vw !important;
    }
    .inital {
        width: 100%;
        max-width: 61.5vw !important;
        justify-content: space-between;
        display: flex;
        align-items: center;
        align-content: space-between;
    }
    .inital h1 {
        margin-right: 0px !important;
    }
    #carrinho {
        margin-left: 0px !important;
    }
}
@media screen and (max-width: 770px) {
    .container-grid {
        width: 69.4vw !important;
        align-items: center;
    }
    .container-grid-initial {
        width: 67.4vw !important;
    }
   .card-produtos h4 {
    font-size:  1.7vw;
   }
   .aviso-promocao h1 {
    font-size: 1.9vw;
   }
   .aviso-promocao p {
    font-size: 1vw;
   }
   .initial h1 {
    font-size: 1.89vw;
   }
   .initial-pai {
    margin-top: 1.3vw;
    height: 3.7vw;
   }
   #carrinho a {
    width: 11.45vw;
    height: 4.55vw;
   }
   #carrinho p {
    margin-left: 0.54vw;
    font-size: 1.23vw;
   }
   #carrinho img {
    padding-left: 0.2vw;
    width: 100%;
    max-width: 2.8vw;
   }
   .pesquisa-produtos2 {
    display: flex !important;
    margin-top: 1.9vw;
    padding: 0%;
    height: 4.8vw;
    width: 64vw;
    margin-bottom: 0.2vw;
    }
    .pesquisa-produtos2 button {
        margin: 0%;
    }
    .cabecalho2 input{
        background-color: #202020;
        font-family: 'Noto Sans HK', sans-serif;  
        padding: 0 2vw;
        font-size: 1.72vw;
        border: none;
        margin: 0 auto;
        color: white;
        border-radius: 2px 0 0 2px;
        width: 100%;
        height: 100%;
        border-color: transparent;
    }
    .cabecalho2 input::placeholder {
        color: white;
        text-transform: uppercase;
        font-size: 1.72vw;
        opacity: 0.9;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .cabecalho2 button {
        padding: 1vw 1.7vw;
        background-color: #202020;
        border: none;
        border-style: hidden;
        margin: 0 auto;
        border-radius: 0 2px 2px 0;
        height: 100%;
        border-color: transparent;
        align-items: center;
        display: flex;
    }
    .container-grid-img2 img{
        width: 100%;
        max-width: 3.6vw;
    }
}
@media screen and (max-width: 550px) {
    .container-grid {
        width: 69vw !important;
        align-items: center;
    } 
    .card-produtos h4 {
        font-size: 2vw;
    }
    .pesquisa-produtos2 {
        margin-top: 1.9vw;
        height: 5.5vw;
        width: 64vw;
    }
    .initial h1 {
        font-size: 2.3vw;
    }
    #carrinho a {
        width: 11.45vw;
        height: 4.55vw;
       }
       #carrinho p {
        margin-left: 0.54vw;
        font-size: 1.18vw;
       }
       #carrinho img {
        padding-left: 0.2vw;
        width: 100%;
        max-width: 2.8vw;
    }
    .aviso-promocao h1 {
        font-size: 2vw;
    }
    .aviso-promocao p {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 440px) {
    .pesquisa-produtos2 {
        width: 63.5vw;
        height: 6.5vw;
    }
    #carrinho p {
        font-size: 1.17vw;
        margin-left: 0.24vw;
    }
    .container-grid {
        width: 69vw;
    }
    #carrinho a {
        max-width: 20vw !important;
        height: 4.84vw;
    }
    .banner {
        width: 64vw !important;
    }
}
@media screen and (max-width: 330px) {
    .aviso-promocao {
        margin: 2.8vw;
        width: 100%;
    }
    .aviso-promocao h1 {
        font-size: 2.27vw;
    }
    .aviso-promocao p {
        margin-top: 2vw;
        font-size: 1.4vw;
    }
    .initial-pai {
        margin: 2.4vw 0 !important;
    }
    .initial h1 {
        font-size: 2.81vw;
    }
    .sections {
        align-items: center;
        height: 13.1vw;
        display: flex;
    }
    .conteudo-sections p {
        font-size: 2vw;
    }
    .pesquisa-produtos2 {
        height: 6.8vw;
    }
    .cabecalho2 input::placeholder {
        font-size: 2.2vw;
    }
    .cabecalho2 input{
        font-size: 2.2vw;
    }
    .card-produtos h4 {
        font-size: 3.05vw;
    }
    .card {
        width: 55%;
        height: 39%;
    }
    .card button {
        height: 100%;
        padding: 1.98vw;
        font-size: 2.5vw;
    }
    .card-2 {
        padding: 1vw;
    }
    .nome-produto {
        font-size: 1.88vw;
        margin: 0.5vw;
    }
}
@media screen and (max-width: 285px) {
    #carrinho p {
        font-size: 1.09vw !important;
    }
    .pesquisa-produtos2 {
        height: 7.6vw !important;
    }
    .container-grid {
        width: 72vw !important;
        align-items: center;
    }
    .card button {
        font-size: 5.52px;
    }
    .nome-produto {
        font-size: 1.9vw;
    }
}
